<li class="nav-item">
    <AuthorizeView>
        <Authorized>
            <a class="nav-link" href="logout">Log out</a>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="login?redirectUri=/">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</li>