@inherits LayoutComponentBase

<div class="main">
    <NavMenu />
    @*<div class="top-row px-4">
        <div class="header">
            <h4>GameTrove</h4>
        </div>
        <AccessControl/>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
